*{
  font-family: Helvetica, Arial, sans-serif;
  margin: 0;
  padding: 0;
}

body{
  background-color: #f5f3f3;
  
  
  
}

input{
  color: gray;
  font-size: 1.2rem;
  width: 70%;
  margin:20px 0 20px 0;
}
.card-grid{
  
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  width: 81%;
}

.card{
  align-content: center;
  width: 224px;
  height: 224px;
  border: 1px solid #e1e1e1;
  border-radius: 6px;
  margin-bottom:10px;
  margin-right: 10px;
  overflow: hidden;
  background: white;
}

.card p {
  padding: 5px;
  text-align: center;
}

.card img {
  max-height: 170px;
}

.container{
  position: relative;
  width: 70%;
  max-width: 960px;
  margin: 0 auto;
  padding: 0 20px;
  box-sizing: border-box; 
  text-align: center;
}
.container h2{
  text-align: left;
  padding: 50px 0px 0px 0px;
}

.container form{
  text-align: left;
  padding: 5px 0px 0px 0px;
}
header {
  
  background-image:url("images/portada.jpg");
  height: 250px;
  background-size: cover;
  color: white;
  margin: 0;
  
}



#titulo{
  margin: 20px 0px;
  text-align: left;
}